<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Bin Search</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <img id="logo" src="PAL_BlueTexture.png">
    <h1 id="message">Bin Search</h1>
    <div id="missed-main-container">
      <div id="form-container">
        <form id="mainform" method="post" action="/binsearch">
          <label>Order Number</label>
          <input type="text" class="mainform-input" name="orderfield" autofocus />
          <div class="hline"></div>
          <div id="submit-container">
            <input class="bin-search-button" type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>