<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PAL Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
    crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="index-container">

      <img id="logo" src="PAL_BlueTexture.png">
      <div id="title">PAL Admin Dashboard</div>
      <div id="link-container">
        <a href="/mailchecker">
          <div class="link-box">
            <i class="far fa-envelope icon"></i>
            <div class="link-title">Mail Checker</div>
          </div>
        </a>
        <a href="/backscan">
          <div class="link-box">
            <i class="fas fa-print icon"></i>
            <div class="link-title">Missed Backscans</div>            
          </div>
        </a>
        <a href="/binsearch">
          <div class="link-box">
            <i class="fas fa-shoe-prints icon"></i>
            <div class="link-title">Order Bin Search</div>            
          </div>
        </a>
        <a href="/loginrecord">
          <div class="link-box">
            <i class="fas fa-users icon"></i>
            <div class="link-title">Portal Login Record</div>            
          </div>
        </a>
      </div>
      </div>
  </body>
</html>


