<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>No Bins!</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <img id="logo" src="PAL_BlueTexture.png">
    <h1 id="message">No Bin Found!</h1>
    <div id="nobin-column-container">
        <div id="nobin-column">
            <div id="nobin-text">Sorry, no bin was found that matches that order number. Please click the back button.</div>
            <div class="hline"></div>
            <button onclick="window.history.back()">Go Back</button>
        </div>
    </div>
  </body>
</html>